
# --- Postgres (dentro de ec2-apps) ---
DB_USER=andesstay
DB_PASSWORD=1234

# --- RabbitMQ (maquina ec2-mq) ---
MQ_HOST=10.0.0.10            # IP o DNS interno de ec2-mq
MQ_PORT=5672
MQ_USER=andesstay
MQ_PASSWORD=1234

# --- Kafka (maquina ec2-kafka) ---
KAFKA_BOOTSTRAP=10.0.0.20:9092   # IP:puerto de ec2-kafka

# --- Azure AD (para el bff) ---
AZURE_TENANT_ID=b1263d59-5f69-4ed2-a404-11e6f9b7012d
AZURE_API_CLIENT_ID=496a7f65-d7d5-47ff-bbd0-e625661c1bb4
