# Copia a ".env" y completa.
# Cookie de Erlang: DEBE ser la misma en ambos nodos para formar cluster.
RABBIT_COOKIE=cambia_esto_por_un_secreto_largo
RABBIT_USER=andesstay
RABBIT_PASSWORD=cambia_esto
